<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjw.ShiroTest.Dao.AuthDao">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<insert id="registerUser" parameterType="User">
		INSERT INTO USER(USERNAME,PASSWORD,CREATE_DATE,MODIFIED_DATE) VALUES(
			#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
			#{create_date,jdbcType=DATE},#{modified_date,jdbcType=DATE}
		);
	</insert>
	
	<insert id="registerRoles" parameterType="User">
		INSERT INTO USER_ROLE(USER_ID,ROLE_ID) VALUES 
		<foreach collection="roles" item="role" separator=",">
			((SELECT ID FROM USER WHERE USERNAME=#{username,jdbcType=VARCHAR}),(SELECT ID FROM ROLE WHERE NAME=#{role}))
		</foreach>
	</insert>

	<select id="getUserByName" parameterType="string" resultType="User">
		SELECT * FROM USER WHERE USERNAME = #{username, jdbcType=VARCHAR}
	</select>

	<select id="getRoleList" parameterType = "string" resultType = "string">
		SELECT
		R.NAME
		FROM
		USER AS U LEFT JOIN USER_ROLE AS UR
		ON
		U.ID = UR.USER_ID LEFT JOIN ROLE AS R
		ON
		UR.ROLE_ID = R.ID
		WHERE
		U.USERNAME= #{username }
	</select>

	<select id="getPermissionList" parameterType = "string" resultType = "string">
		SELECT
		P.PERMISSION
		FROM
		PERMISSION AS P
		WHERE
		P.ACCESS_LEVEL &lt;= (SELECT R.ACCESS_LEVEL FROM ROLE AS R WHERE R.NAME=#{roleName})
	</select>

	<select id="getJWTPassword" parameterType = "string" resultType = "string">
		SELECT PASSWORD FROM USER WHERE USERNAME = #{username}
	</select>

	<select id="verifyUser" parameterType="User" resultType="User">
		SELECT * FROM USER WHERE USERNAME= #{username,jdbcType=VARCHAR} AND PASSWORD = #{password,jdbcType=VARCHAR}
	</select>
</mapper>