<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjw.ShiroTest.Dao.MainDao">
    <resultMap id="menu" type="hashmap">
        <result column="ID" property="id"></result>
        <result column="NAME" property="name"></result>
    </resultMap>

    <select id="getMainMenu" resultMap="menu">
        SELECT ID,NAME FROM MENU
    </select>

    <select id="getSubMenu" parameterType="integer" resultMap="menu">
        SELECT ID,NAME FROM MENU_SUB WHERE REL_MENU = #{id, jdbcType=INTEGER}
    </select>

</mapper>