.popover-enhance{
	width:400px;
	max-width: 500px !important;
}
.popover-split{
	border-left-color:#e7e7e7;
	border-left-style:solid;
	margin-bottom: 2px;
	padding-left: 0px;
    padding-right: 0px;
}