<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjw.ShiroTest.Dao.OrderDao">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
    <insert id="addOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ORDER_LIST(USER_ID, ORDER_NUM, BUY_DATE, SUM)
        VALUES(
            #{userId, jdbcType = INTEGER},
            #{orderNum, jdbcType = VARCHAR},
            CURRENT_TIMESTAMP,
            #{price, jdbcType = DOUBLE}
        )
    </insert>
    <insert id="addOrderDetail" parameterType="Order">
        INSERT INTO ORDER_DETAIL(LIST_ID,PRODUCT_ID,AMOUNT,PRICE) VALUES
        <foreach collection="productList" item="p" separator=",">
            (#{id, jdbcType = INTEGER}
            , #{p.id, jdbcType=INTEGER}
            , #{p.productAmount, jdbcType=INTEGER}
            , #{p.price, jdbcType=FLOAT})
        </foreach>
    </insert>
</mapper>