<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjw.ShiroTest.Dao.ProductDao">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<select id="getRecommendedProducts" resultType = "Product">
		SELECT * FROM PRODUCT WHERE RECOMMENDED = 1
	</select>
	
	<select id="getProductDetail" parameterType="integer" resultType = "Product">
		SELECT * FROM PRODUCT WHERE ID = #{id, jdbcType=INTEGER}
	</select>
	
	<select id="getPdctComments" parameterType="string" resultType = "map">
		SELECT COMMENTS FROM PRODUCT_COMMENTS AS PC LEFT JOIN PRODUCT AS P ON P.ID = PC.PRODUCT_ID WHERE P.ID = #{id, jdbcType=INTEGER)
	</select>

	<select id="getProductDetailByName" parameterType="string" resultType="Product">
		SELECT * FROM PRODUCT WHERE NAME = #{name, jdbcType=VARCHAR}
	</select>

	<select id="getRemainCount" parameterType="Product" resultType="double">
		SELECT REMAINS FROM PRODUCT WHERE ID = #{id, jdbcType=INTEGER}
	</select>

	<update id="updateRemainCount" parameterType="Product">
		UPDATE PRODUCT SET REMAINS = REMAINS - #{productAmount, jdbcType=FLOAT} WHERE ID = #{id, jdbcType=INTEGER}
	</update>

	<insert id="createNewProduct" parameterType="Product">
		INSERT OR REPLACE INTO PRODUCT(NAME,PRICE
		<if test="category != null and category !=''">,CATEGORY</if>
		<if test="tags != null and category !=''">,TAGS</if>
		<if test="description != null and description !=''">,DESCRIPTION</if>
		<if test="remains != null and remains != ''">,REMAINS</if>
		)
		VALUES(
		#{name,jdbcType=VARCHAR},#{price,jdbcType=FLOAT}
		<if test="category != null and category !=''">,#{category,jdbcType=VARCHAR}</if>
		<if test="tags != null and tags !=''">,#{tags,jdbcType=VARChAR}</if>
		<if test="description != null and description !=''">,#{description,jdbcType=VARCHAR}</if>
		<if test="remains != null and remains != ''">,#{remains,jdbcType=FLOAT}</if>
		)
	</insert>

	<select id="getCommentsByProduct" parameterType="map" resultType="Comment">
		SELECT U.USERNAME,C.COMMENTS,C.USERID,C.COMMENTDATE FROM PRODUCT_COMMENTS AS C LEFT JOIN USER AS U ON C.USERID = U.ID
		WHERE PRODUCTID = #{productId, jdbcType=INTEGER} LIMIT 10 OFFSET #{offset, jdbcType=INTEGER}
	</select>
</mapper>